<div class="col-md-4 producto-card" data-nombre="{{nombre}}">
  <div class="card shadow">
    <div class="card-footer text-center">
      <h5 class="card-title">{{nombre}}</h5>
    </div>
    <a href="#" class="producto-link" data-toggle="modal" data-target="#productoModal" data-imagen="{{imagen}}">
      <img src="{{imagen}}" alt="{{nombre}}" class="card-img-top producto-img">
    </a>
  </div>
</div>